* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background: rgb(135, 206, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 0;
}

.head {
    width: 60%;
}

img {
    width: 90%;
    padding-left: 10%;
}

.main {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .link {
    text-decoration: none;
    background: rgba(9, 9, 9, 0.9);
    padding: 10px 150px;
    font-size: 16px;
    color: rgb(135, 206, 235);
    border-radius: 20px;
}

#msg {
    font-size: 14px;
    color: rgb(255, 255, 255, 0.5);
}

.main link:hover {
    background: rgba(9, 9, 9, 0.9);
    color: rgb(135, 206, 235, 0.7);
}